* {
    margin: 0;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130px;
    margin-left: 35px;
}

.headerNav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    cursor: pointer;
    line-height: 20px;
    
}

img {
    width: 550px;
}

p {
    text-transform: uppercase;
    font-size: 0.8em;
    white-space: nowrap;
}

.footer {
    margin-top: 150px;
    text-transform: uppercase;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.newsletterText {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    
}

.socialNetworksText {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    font-size: 0.8rem;
}

.legalText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 30px;
    font-size: 0.7rem;
}